<div class="login-page">
  <div class="form">
    <form class="register-form">
      <input type="text" placeholder="name"/>
      <input type="password" placeholder="password"/>
      <input type="text" placeholder="email address"/>
      <button>create</button>
      <p class="message">Already registered? <a href="#">Sign In</a></p>
    </form>
    <form #frmLogin="ngForm" class="login-form" (ngSubmit)="onLogin(frmLogin)" >
      <input type="email" name="email" placeholder="Email" ngModel required />
      <input type="password" name="password" placeholder="Password" ngModel required />
      <button value="Send" >login</button>
      <p class="message">Not registered? <a href="http://localhost:4200/navegacion/register">Create an account</a></p>
    </form>
  </div>
</div>